<mat-card class="px-2 py-3">
    <h1 class="text-center text-primary fs-3 fw-bold p-2 mb-3">Update Test</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form action="" *ngIf="test">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" name="testName" [(ngModel)]="test.testName"
                        placeholder="Enter test name" required>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput type="text" name="testDescription" [(ngModel)]="test.testDescription"
                        placeholder="Enter test description" rows="5" required></textarea>
                </mat-form-field>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Max Points</mat-label>
                            <input matInput type="text" name="maxPoints" [(ngModel)]="test.maxPoints"
                                placeholder="Enter test price" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Number of Questions</mat-label>
                            <input matInput type="text" name="cantQuestions" [(ngModel)]="test.cantQuestions"
                                placeholder="Enter test duration" required>
                        </mat-form-field>
                    </div>
                </div>
                <mat-slide-toggle class="col-md-12 d-flex justify-content-center py-1" name="active" [(ngModel)]="test.active" color="primary">
                    Publication status
                </mat-slide-toggle>
                <mat-form-field appearance="outline" class="mt-3 w-100">
                    <mat-label>Subjects</mat-label>
                    <mat-select name="subject" [(ngModel)]="test.subject.subjectId">
                        <mat-option *ngFor="let subject of subjects" [value]="subject.subjectId">
                            {{subject.subjectName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="d-flex justify-content-center w-100">
                    <button class="w-50 mx-1" (click)="updateTest()" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
                    <button class="w-50 mx-1" (click)="goBack()" mat-raised-button color="warn"><mat-icon>cancel</mat-icon></button>
                </div>
            </form>
        </div>
    </div>
</mat-card>