<mat-card class="p-3 shadow-sm border-0">

    <div class="text-center my-3">
        <h1 class="fs-2 fw-bold text-primary">Manage Test</h1>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let test of paginatedTests">

            <mat-card class="h-100 d-flex flex-column">
                <mat-card-header>
                    <div mat-card-avatar class="my-auto">
                        <mat-icon color="primary">quiz</mat-icon>
                    </div>
                    <mat-card-title class="fw-bold">{{test.testName}}</mat-card-title>
                    <mat-card-subtitle>{{test.subject.subjectName}}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content class="flex-grow-1">
                    <ul class="list-unstyled p-3">
                        <li class="d-flex align-items-center mb-3">
                            <mat-icon class="me-3 text-primary">help_outline</mat-icon>
                            <div>
                                <strong class="d-block">Preguntas</strong>
                                <span class="text-muted">{{test.cantQuestions}}</span>
                            </div>
                        </li>
                        <li class="d-flex align-items-center">
                            <mat-icon class="me-3 text-primary">emoji_events</mat-icon>
                            <div>
                                <strong class="d-block">Puntos Máximos</strong>
                                <span class="text-muted">{{test.maxPoints}}</span>
                            </div>
                        </li>
                    </ul>
                </mat-card-content>

                <mat-divider></mat-divider>

                <mat-card-actions class="d-flex justify-content-between p-2">
                    <button mat-stroked-button color="primary"
                        [routerLink]="'/professor/questions/'+test.testName+'/'+test.testId">
                        Questions
                    </button>
                    <div>
                        <button mat-raised-button color="primary" 
                            [routerLink]="'/professor/update-test/'+test.testId" class="mx-1"
                            matTooltip="edit Test">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-raised-button color="warn" 
                            (click)="deleteTest(test.testId)" class="mx-1"
                            matTooltip="delete Test">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>

        </div>
    </div>

    <div class="d-flex flex-column justify-content-center mt-3">
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="handlePageEvent($event)" aria-label="Seleccionar página de tests">
        </mat-paginator>
        <div class="mb-2 w-100 d-flex flex-row">
            <button class="w-50 mx-1" *ngIf="subjects.length > 0" mat-raised-button color="primary" 
                [routerLink]="'add-test'">
                <mat-icon>assignment_add</mat-icon>
            </button>
            <button class="w-50 mx-1" mat-raised-button color="warn" [routerLink]="'/professor'" matTooltip="Volver al inicio">
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </div>

</mat-card>