<mat-card>
    <h1 class="text-center">Modifying user:
        <b class="fs-3">
            {{user.firstName+" "+
            user.middleName+" "+
            user.lastName+" "+
            user.secondLastName}}</b>
    </h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form action="" *ngIf="user">
                <div class="row">
                    <div class="col-md-12 my-4">
                        <div class="row text-center">
                            <div class="col-md-6">
                                <button mat-raised-button mat-green color="primary">
                                    Change the Password
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button mat-raised-button mat-green color="primary">
                                    Change the photo
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Document Type</mat-label>
                            <mat-select name="documentType" [(ngModel)]="user.documentType" required>
                                <mat-option *ngFor="let type of types" [value]="user.documentType">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                Choose a Type Document
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Document</mat-label>
                            <input matInput type="text" name="document" [(ngModel)]="user.document"
                                placeholder="Enter test firstName" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input matInput type="text" name="firstName" [(ngModel)]="user.firstName"
                                placeholder="Enter test firstName" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Middle Name</mat-label>
                            <input matInput type="text" name="middleName" [(ngModel)]="user.middleName"
                                placeholder="Enter test lastName" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>last Name</mat-label>
                            <input matInput type="text" name="lastName" [(ngModel)]="user.lastName"
                                placeholder="Enter test middleName" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Second Last Name</mat-label>
                            <input matInput type="text" name="secondLastName" [(ngModel)]="user.secondLastName"
                                placeholder="Enter test lastName" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>email</mat-label>
                            <input matInput type="text" name="email" [(ngModel)]="user.email"
                                placeholder="Enter user email" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Phone Number</mat-label>
                            <input matInput type="text" name="phoneNumber" [(ngModel)]="user.phoneNumber"
                                placeholder="Enter user phoneNumber" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-12 text-center">
                        <div appearance="fill" class="mt-2 w-100 text-center">
                            <div class="col-1 m-auto">
                                <mat-label class="container px-0 px-3">Gender</mat-label>
                            </div>
                            <div class="gender-container col-11">
                                <mat-radio-group [(ngModel)]="user.gender" name="gender" class="gender-radio-group">
                                    <mat-radio-button value="Male">Male</mat-radio-button>
                                    <mat-radio-button value="Female">Female</mat-radio-button>
                                    <mat-radio-button value="I'd rather not say">I'd rather not say</mat-radio-button>
                                    <mat-radio-button value="Other">Other</mat-radio-button>
                                </mat-radio-group>
                                <mat-form-field class="ms-2 gender-input" appearance="outline"
                                    *ngIf="user.gender === 'Other'">
                                    <mat-label>Specify Gender</mat-label>
                                    <input matInput type="text" name="customGender" [(ngModel)]="customGender"
                                        placeholder="Enter your gender" />
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Country of Birth</mat-label>
                            <mat-select name="countryBirth" [(ngModel)]="user.countryBirth" required>
                                <mat-option *ngFor="let country of countries" [value]="user.countryBirth">
                                    {{ country }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Blood Type</mat-label>
                            <mat-select name="bloodType" [(ngModel)]="user.bloodType" required>
                                <mat-option *ngFor="let Blood of BT" [value]="user.bloodType">
                                    {{ Blood }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Birth Date</mat-label>
                            <input name="birthDate" [(ngModel)]="user.birthDate" matInput type="date" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Rol</mat-label>
                            <mat-select name="rol" [(ngModel)]="user.authorities[0].authority" required>
                                <mat-option *ngFor="let rol of rols" [value]="user.authorities[0].authority">
                                    {{ rol.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>



                <div class="container my-2 text-center">
                    <button (click)="updateUser()" mat-raised-button color="primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</mat-card>