<mat-card>
    <div class="m-3">
        <h2 class="text-center fs-1 fw-bold">ALL SUBJECTS</h2>
        <mat-divider></mat-divider>
        <mat-card *ngFor="let s of subjects"
            class="h-100 m-2">
            <div class="row w-100">
                <div class="col-1 d-flex justify-content-center align-items-center">
                    <mat-icon>category</mat-icon>
                </div>
                <div class="col-9 m-auto">
                    <div class="text-start fs-3 my-1" mat-line>{{ s.nameSubject }}</div>
                    <mat-divider></mat-divider>
                    <div class="my-1" mat-line>{{ s.descriptionSubject }}</div>
                </div>
                <div class="col-2 m-auto">
                    <button 
                    mat-raised-button 
                    [routerLink]="'/admin/update-subject/'+s.idSubject" 
                    color="primary">Update</button>
                    <button 
                    mat-raised-button
                    (click)="deleteSubject(s.idSubject)"
                    class="m-1"
                    color="warn">Delete</button>
                </div>
            </div>
        </mat-card>
        <mat-divider></mat-divider>
    </div>

    <div class="container text-center my-3">
        <button class="mx-1" routerLink="/admin/add-category" mat-raised-button color="primary">ADD SUBJECT</button>
        <button
        class="mx-1"
        mat-raised-button
        [routerLink]="'/admin'"
        color="warn">
            GO HOME
        </button>
    </div>
</mat-card>