<mat-card>
    <mat-card-content>
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <img class="rounded-circle mb-2" src="{{user.photo}}" alt="User Image" width="150" height="150">
                    <h1 class="mt20">{{user.firstName}} {{user.middleName}} {{user.lastName}}
                        {{user.secondLastName}}
                    </h1>
                </div>
                <table class="table">
                    <tr>
                        <td>Type Document</td>
                        <td>{{user.documentType}}</td>
                    </tr>
                    <tr>
                        <td>Document</td>
                        <td>{{user.document}}</td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td>{{user.phoneNumber}}</td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>{{user.rols[0].nameRol}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <mat-card-actions class="d-flex w-100 text-center">
            <button class="w-50 m-1" mat-raised-button color="primary" [routerLink]="'update/'+user.document">EDIT</button>
            <button class="w-50 m-1" mat-raised-button color="warn" [routerLink]="'/' + userRol">GO HOME</button>
        </mat-card-actions>
    </mat-card-content>

</mat-card>