<mat-card class="p-3">
    <h1 class="text-center mx-2 fs-3 fw-bold p-2 my-3">Questions of <span class="fw-bold text-primary">{{testName}}</span></h1>
    <mat-divider></mat-divider>
    <div class="bootstrap-wrapper">
        <div class="row mt-3">
            <div class="col-md-12">
                <mat-card appearance="outlined" *ngFor="let q of questions; let i = index" class="mt-2">
                    <mat-card-content>
                        <p>
                            <b>Question {{i+ 1}}. </b>
                            <span class="mt-2" [innerHTML]="q.questionContent"></span>
                        </p>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>1)<b> {{q.option1}}</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p>2)<b> {{q.option2}}</b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>3)<b> {{q.option3}}</b></p>
                                </div>
                                <div class="col-md-6">
                                    <p>4)<b> {{q.option4}}</b></p>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            <p class="my-3 fs-5">
                                <b>Correct Answer: {{q.correctOption}}</b>
                            </p>
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <button
                                        [routerLink]="'/admin/update-question/'+testName+'/'+testId+'/'+q.questionId"
                                        class="w-50 me-1" mat-raised-button
                                        color="primary"><mat-icon>edit</mat-icon></button>
                                    <button (click)="deleteQuestion(q.questionId)" class="w-50" mat-raised-button
                                        color="warn"><mat-icon>delete</mat-icon></button>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="text-center p-3 d-flex justify-content-center">
        <button *ngIf="questions.length < test.cantQuestions" mat-raised-button class="w-50 mx-2" color="primary"
            [routerLink]="'/admin/add-question/'+testName+'/'+testId">
            <mat-icon>note_add</mat-icon>
        </button>

        <button mat-raised-button class=" rounded text-white w-100" color="accent"
            *ngIf="questions.length >= test.cantQuestions">limit reached</button>

        <button [routerLink]="'/admin/view-tests'" class="w-50 mx-2" mat-flat-button color="warn"><mat-icon>close</mat-icon></button>
    </div>
</mat-card>