<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <h1>Add Question of <span class="fw-bold">{{testName}}</span></h1>
            <mat-card>
                <mat-card-header>
                    <mat-card-subtitle>
                        Enter the details of the test you want to add.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form action="" class="mt-2" [formGroup]="questionForm">
                        <mat-form-field class="w-100">
                            <mat-label>Enter the content of the question</mat-label>
                            <textarea
                            formControlName="questionContent"
                            rows="8"
                            matInput
                            placeholder="Enter the content of the question"
                            ></textarea>
                        </mat-form-field>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field class="w-100">
                                    <mat-label>Enter the option 1:</mat-label>
                                    <input
                                    formControlName="option1"
                                    type="text"
                                    matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w-100">
                                    <mat-label>Enter the option 2:</mat-label>
                                    <input
                                    formControlName="option2"
                                    type="text" 
                                    matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w-100">
                                    <mat-label>Enter the option 3:</mat-label>
                                    <input
                                    formControlName="option3"
                                    type="text" 
                                    matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="w-100">
                                    <mat-label>Enter the option 4:</mat-label>
                                    <input
                                    formControlName="option4"
                                    type="text" 
                                    matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field class="w-100">
                            <mat-label>Select the Correct Answer</mat-label>
                            <mat-select formControlName="correctOption">
                                <mat-option *ngIf="questionForm.get('option1')?.value" [value]="questionForm.get('option1')?.value">{{questionForm.get('option1')?.value}}</mat-option>
                                <mat-option *ngIf="questionForm.get('option2')?.value" [value]="questionForm.get('option2')?.value">{{questionForm.get('option2')?.value}}</mat-option>
                                <mat-option *ngIf="questionForm.get('option3')?.value" [value]="questionForm.get('option3')?.value">{{questionForm.get('option3')?.value}}</mat-option>
                                <mat-option *ngIf="questionForm.get('option4')?.value" [value]="questionForm.get('option4')?.value">{{questionForm.get('option4')?.value}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="d-flex w-100 text-center">
                            <button
                            (click)="onSubmit()"
                            mat-raised-button
                            class="w-50 mx-1"
                            color="primary"
                            >SAVE QUESTION</button>
                            <button
                            mat-raised-button
                            class="w-50 mx-1"
                            color="warn"
                            (click)="goBack()">
                                CANCEL
                            </button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>