<mat-card class="container-fluid rounded-3 p-0">
    <div class="text-center p-5 bg-light-blue rounded-3 rounded-bottom-0">
        <div class="icon-circle bg-primary text-white mx-auto mb-3">
            <mat-icon>security</mat-icon>
        </div>
        <h2 class="text-uppercase small fw-bold text-secondary">Welcome to the admin panel</h2>
        <h1 class="display-5 fw-bolder">Plataform management</h1>
        <p class="col-lg-6 mx-auto text-muted">
            Manage users, roles, general system configuration.
        </p>
    </div>
    <div class="row mt-4 justify-content-center px-2">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <h3 class="mb-3">Main Fuctions</h3>
                    <div class="d-grid gap-3">
                        <button mat-flat-button [routerLink]="'/admin/view-tests'" color="primary" class="text-start p-3">
                            <mat-icon class="me-2 align-middle">article</mat-icon>
                            Manage Content
                        </button>
                        <button mat-stroked-button [routerLink]="'/admin/users'" color="primary" class="text-start p-3">
                            <mat-icon class="me-2 align-middle">account_circle</mat-icon>
                            Manage Users
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="mb-3">Actions Available</h3>
                    <ul class="list-unstyled">
                        <li class="d-flex align-items-start mb-3">
                            <mat-icon class="me-3 text-primary">folder</mat-icon>
                            <span>Create new subjects, exams and questions from scratch.</span>
                        </li>
                        <li class="d-flex align-items-start mb-3">
                            <mat-icon class="me-3 text-primary">assignment</mat-icon>
                            <span>Edit the content and configuration of existing tests.</span>
                        </li>
                        <li class="d-flex align-items-start">
                            <mat-icon class="me-3 text-primary">people</mat-icon>
                            <span>Create, edit and delete users.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</mat-card>