<mat-card class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card-header>
                    <mat-card-title class="fs-2 fw-bold mb-1">
                        WELCOME TO ADMIN
                    </mat-card-title>
                    <mat-card-subtitle>Admin Panel</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-divider></mat-divider>
                    <br>
                    <h2>funtions: </h2>
                    <ul>
                        <li>Manage Subjects</li>
                        <li>Manage Tests</li>
                        <li>Manage Questions</li>
                    </ul>
                    <mat-divider class="my-3"></mat-divider>
                    <h2>You Can do:</h2>
                    <carousel 
                    [interval]="5000" 
                    [noWrap]="false" 
                    [showIndicators]="true">
                        <slide class="border border-1 border-dark">
                            <img src="/assets/AddTest.png" alt="slide 1" class="d-block w-100 h-50">
                            <div class="carousel-caption d-none d-md-block bg-dark">
                                <h5 class="fs-1 mb-4">ADD AND UPDATE TESTS</h5>
                                <p>Add and Update test only if there are available subjects</p>
                            </div>
                        </slide>
                        <slide class="border border-1 border-dark">
                            <img src="/assets/UpdateQuestions.png" alt="slide 2" class="d-block w-100 h-50">
                            <div class="carousel-caption d-none d-md-block bg-dark">
                                <h5 class="fs-1 mb-4">ADD AND UPDATE QUESTIONS</h5>
                                <p>Add and update questions per test created, select score and note that each test has a limit of questions.</p>
                            </div>
                        </slide>
                        <slide class="border border-1 border-dark">
                            <img src="/assets/updateSubject.png" alt="slide 3" class="d-block w-100 h-50">
                            <div class="carousel-caption d-none d-md-block bg-dark">
                                <h5 class="fs-1 mb-4">ADD AND UPDATE SUBJECTS</h5>
                                <p>Add and update subjects to create tests</p>
                            </div>
                        </slide>
                    </carousel>
                </mat-card-content>
            </div>
        </div>
    </div>
</mat-card>