<mat-card class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card-header>
                    <mat-card-title class="fs-1 mb-1">
                        Welcome to Admin
                    </mat-card-title>
                    <mat-card-subtitle>Admin Panel</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <mat-divider></mat-divider>
                    <br>
                    <h2>funtions: </h2>
                    <ul>
                        <li>Manage Categories</li>
                        <li>Manage Tests</li>
                        <li>Manage Questions</li>
                    </ul>
                    <mat-divider></mat-divider>
                    <br>
                </mat-card-content>
            </div>
        </div>
    </div>
</mat-card>