<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 pt-5">
        <mat-card class="rounded border-dark border-3 shadow">
            <div class="container p-0">
                <div class="bg-primary text-white p-5 text-center
                d-flex flex-column justify-content-center align-items-center">
                    <span
                        class="icon-circle-container border border-light rounded-circle
                        d-flex justify-content-center align-items-center mb-4">
                        <mat-icon fontIcon="login" class="login-icon"></mat-icon>
                    </span>
                    <span class="fs-1 fw-bold p-2">Welcome Back!</span>
                    <span class="fs-4 text-white-50 p-2">Enter your ID and password</span>
                </div>

                <form #loginForm="ngForm" (ngSubmit)="forSubmit()" class="p-4 my-3">
                    <mat-form-field class="w-100 mb-2" appearance="outline">
                        <mat-label>Document</mat-label>
                        <mat-icon matIconPrefix>person</mat-icon>
                        <input [(ngModel)]="loginData.username" name="username" required matInput
                            placeholder="Enter your document" />
                        <mat-error
                            *ngIf="loginForm.controls['username']?.touched && loginForm.controls['username']?.invalid">
                            The document is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100 mb-3" appearance="outline">
                        <mat-label>Password</mat-label>
                        <mat-icon matIconPrefix>lock</mat-icon>
                        <input [(ngModel)]="loginData.password" name="password" required matInput type="password"
                            placeholder="Enter your password" />
                        <mat-error
                            *ngIf="loginForm.controls['password']?.touched && loginForm.controls['password']?.invalid">
                            The password is required
                        </mat-error>
                    </mat-form-field>

                    <div class="d-flex flex-column justify-content-center align-items-center gap-3">
                        <button type="submit" mat-flat-button color="primary" [disabled]="!loginForm.valid"
                            class="w-100">
                            <mat-icon>login</mat-icon>
                        </button>
                        <span class="w-100 text-muted text-center">Don´t have an account? <a routerLink="/register">Sign up</a></span>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</div>