<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-4 col-sm-2 col-lg-4">

            </div>
            <div class="col-4 col-sm-8 col-lg-4 pt-5">
                <mat-card>
                    <div class="container p-3">
                        <div class="text-center pb-4">
                            <mat-icon fontIcon="person"></mat-icon>
                            <h1 class="fs-3 text-center">Login</h1>
                        </div>

                        <div class="text-center">
                            <form>
                                <div>
                                    <div>
                                        <mat-form-field class="w-50" appearance="outline">
                                            <mat-label>Document</mat-label>
                                            <input [(ngModel)]="loginData.username" name="username" matInput type="document" placeholder="document" />
                                            <mat-error>
                                                Enter your Document
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-form-field class="w-50" appearance="outline">
                                            <mat-label>password</mat-label>
                                            <input [(ngModel)]="loginData.password" name="password" matInput type="password" placeholder="password" />
                                            <mat-error>
                                                Enter your password
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <button mat-flat-button color="primary" (click)="forSubmit()">
                                            <mat-icon fontIcon="login" class="ms-1"></mat-icon>
                                        </button>
                                        <button mat-stroked-button class="ms-4" color="warn">
                                            Limpiar
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div class="col-4 col-sm-2 col-lg-4">

            </div>
        </div>
    </div>
</div>