<ngx-ui-loader 
text="Loading..." 
fgsType="three-strings" 
fgsColor="black">
</ngx-ui-loader>
<mat-toolbar color="primary" class="shadow">
    <button class="menu-icon"
    *ngIf="isLoggedIn" mat-icon-button 
    (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="w-100 d-flex justify-content-between align-items-center ms-5 px-3">
        <a [routerLink]="'/'" class="text-decoration-none text-reset d-flex align-items-center">
            <img class="img-fluid me-2" style="height: 30px;" src="../../../../assets/logo.png"
                alt="logo_AcademySystem">
            <span class="fs-5">Academy System</span>
        </a>

        <div class="d-flex align-items-center gap-3">
            <a *ngIf="!isLoggedIn" [routerLink]="'/register'" class="text-white text-decoration-none" mat-button>
                Signup
            </a>
            <a *ngIf="!isLoggedIn" [routerLink]="'/login'" class="text-white text-decoration-none" mat-button>
                Login
            </a>
            <a *ngIf="isLoggedIn" (click)="logout()" [routerLink]="'/'" class="text-white text-decoration-none"
                mat-button>
                Logout
            </a>
            <button *ngIf="isLoggedIn && user" mat-button
                [routerLink]="(user.authorities[0].authority | lowercase)+'/profile'">
                {{user.firstName}} {{user.lastName}}
            </button>
        </div>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav *ngIf="isLoggedIn" opened mode="side" [style.width]="sideNavWidth()">
        <app-sidenav [collapsed]="collapsed()"/>
    </mat-sidenav>
    
    <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> 