<mat-toolbar class="shadow">
    <button class="menu-icon" *ngIf="isLoggedIn" mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>

    <a [routerLink]="'/'" class="text-decoration-none text-reset d-flex align-items-center logo-container">
        <img class="img-fluid me-2" style="height: 40px;" src="../../../../assets/logoas.png" alt="logo_AcademySystem">
        <span class="fs-5 d-none d-sm-inline">Academic System</span> </a>

    <span class="spacer"></span>

    <div class="d-flex align-items-center gap-2">
        <ng-container *ngIf="!isLoggedIn">
            <a [routerLink]="'/register'" class="text-white text-decoration-none" mat-button>
                Signup
            </a>
            <a [routerLink]="'/login'" class="text-white text-decoration-none" mat-button>
                Login
            </a>
        </ng-container>

        <ng-container *ngIf="isLoggedIn">
            <button mat-button [routerLink]="role+'/profile'">
                <span class="d-none d-md-inline">{{user.firstName}} {{user.lastName}}</span> <mat-icon
                    class="d-md-none">account_circle</mat-icon> </button>
            <button mat-icon-button (click)="logout()" [routerLink]="'/'" aria-label="Logout button">
                <mat-icon>logout</mat-icon>
            </button>
        </ng-container>
    </div>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav *ngIf="isLoggedIn" [mode]="isHandset() ? 'over' : 'side'" [opened]="!isHandset()"
        [style.width]="sideNavWidth()">
        <app-sidenav [collapsed]="collapsed()" (menuItemClicked)="handleSidenavClick()" />
    </mat-sidenav>

    <mat-sidenav-content class="content" [style.margin-left]="isHandset() || !isLoggedIn ? '0' : sideNavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>