:host {
  display: block;
  height: 100%;
}
mat-toolbar {
  background-color: #3949AB;

  mat-icon,a,span{
    color: white;
  }
}
.sidenav-list {
  display: flex;
  flex-direction: column;
}
.sidenav-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.spacer {
  flex: 1 1 auto;
}
mat-toolbar .menu-icon {
  margin-right: 16px; 
}
mat-toolbar {
  display: flex;
  align-items: center;
}
.content {
  padding: 24px;
  overflow: auto;
}
mat-sidenav,
mat-sidenav-content {
  transition: all 0.5s ease-in-out !important;
}
mat-sidenav-container {
  background-color: #F5F5F5;
  height: calc(100vh - 64px);
}
mat-sidenav {
  background-color: #ECEFF1;
  height: 100%;
}
.shadow {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

/* media */
@media (max-width: 576px) {
  mat-toolbar a[mat-button],
  mat-toolbar button[mat-button] {
    padding: 0 8px; 
    min-width: fit-content;
  }
  .logo-container {
    margin-left: 0 !important;
  }
}
