<mat-card>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <mat-card-content>
                    <mat-card-title class="fs-2 fw-bold">{{test?.testName}}</mat-card-title>
                    <mat-card-subtitle>{{test?.testDescription}}</mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <br>
                    <ul>
                        <li>This test contain <b>{{test?.cantQuestions}}</b> questions</li>
                        <li *ngIf="test?.subject">This test about <b> {{test?.subject?.subjectName}} </b></li>
                    </ul>
                    <mat-card-actions>
                        <button mat-raised-button color="warn" [routerLink]="'/user/'+0">Back</button>
                    </mat-card-actions>
                </mat-card-content>
            </div>
        </div>
    </div>
</mat-card>