.table-responsive-container {
    overflow-x: auto; 
    width: 100%;
}

table {
    width: 100%;
}

.cell-name, .cell-email {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; 
}