<div class="container p-3">
    <mat-card class="text-center m-auto p-3 border border-primary">
        <div class="p-5">
            <h1 class="text-center">WELCOME <p *ngIf="user">{{user.firstName}} {{user.lastName}}</p></h1>
            <mat-divider></mat-divider>
        </div>
        
    <h2 class="text-center">educational application that allows teachers to create quizzes and students to solve them.</h2>
    <p class="text-center">This is a application to demonstrate the use of Angular with Spring Boot.</p>
    <div class="container d-flex justify-content-center">
        <button mat-raised-button color="primary" *ngIf="user;else login" [routerLink]="(user.authorities[0].authority | lowercase)+'/profile'">START</button>
        <ng-template #login>
            <button mat-raised-button color="primary" [routerLink]="['/login']">LOGIN</button>
        </ng-template>
    </div>  
    </mat-card>
</div>
