<mat-card>
    <h1>Update Test</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form action="" *ngIf="test">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Name</mat-label>
                    <input
                    matInput
                    type="text"
                    name="nameTest"
                    [(ngModel)]="test.nameTest"
                    placeholder="Enter test name"
                    required
                    >
                </mat-form-field>
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Description</mat-label>
                    <textarea
                    matInput
                    type="text"
                    name="descriptionTest"
                    [(ngModel)]="test.descriptionTest"
                    placeholder="Enter test description"
                    rows="5"
                    required
                    ></textarea>
                </mat-form-field>

                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Max Points</mat-label>
                            <input
                            matInput
                            type="text"
                            name="maxPoints"
                            [(ngModel)]="test.maxPoints"
                            placeholder="Enter test price"
                            required
                            >
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="fill">
                            <mat-label>Number of Questions</mat-label>
                            <input
                            matInput
                            type="text"
                            name="cantQuestions"
                            [(ngModel)]="test.cantQuestions"
                            placeholder="Enter test duration"
                            required
                            >
                        </mat-form-field>
                    </div>
                </div>

                <mat-slide-toggle class="mt-20" name="active" [(ngModel)]="test.active" color="primary">
                    Publication status
                </mat-slide-toggle>

                <mat-form-field appearance="fill" class="mt-2 w-100">
                    <mat-label>Subjects</mat-label>
                    <mat-select name="subject" [(ngModel)]="test.subject.idSubject">
                        <mat-option *ngFor="let subject of subjects" [value]="subject.idSubject">
                            {{subject.nameSubject}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="container text-center">
                    <button (click)="updateTest()" mat-raised-button color="primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</mat-card>

{{test | json}}