html,
body {
  height: 100%;
  margin: 0;
}
body {
font-family: 'Quicksand', sans-serif !important;
}
h1,h2,h3,h4,h5,h6,p,a,i,span {
font-family: 'Quicksand', sans-serif !important;
}
mat-card-title{
  font-family: 'Quicksand', sans-serif !important;
}
button mat-icon {
  margin: 0 !important;
}
