<mat-card>
    <mat-list style="margin: 10px;">
        <div mat-subheader>All categories</div>
        <mat-list-item *ngFor="let s of subjects"
            class="h-100 m-2 border rounded-3">
            <div class="row w-100 p-1">
                <div class="col-2 m-auto">
                    <mat-icon>category</mat-icon>
                </div>
                <div class="col-8 m-auto">
                    <div class="text-start fs-5" mat-line>{{ s.nameSubject }}</div>
                    <mat-divider></mat-divider>
                    <div class="text-wrap" mat-line>{{ s.descriptionSubject }}</div>
                </div>
                <div class="col-2 m-auto">
                    <button mat-raised-button [routerLink]="'/admin/update-subject/'+s.idSubject" color="primary" class="me-2">Update</button>
                    <button mat-raised-button (click)="deleteSubject(s.idSubject)" color="warn">Delete</button>
                </div>
            </div>

        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <div class="container text-center my-3">
        <button routerLink="/admin/add-category" mat-raised-button color="primary">Add Category</button>
    </div>
</mat-card>