<mat-card>
    <mat-list style="margin: 10px;">
        <div mat-subheader>All categories</div>
        <mat-list-item *ngFor="let c of subjects"
            class="h-100"
            style="border-radius:30px; margin-bottom: 10px; background-color: rgb(201, 201, 201);">
            <div class="row w-100 p-1">
                <div class="col-2 m-auto">
                    <mat-icon>category</mat-icon>
                </div>
                <div class="col-8 m-auto">
                    <div class="text-start fs-5" mat-line>{{ c.nameSubject }}</div>
                    <mat-divider></mat-divider>
                    <div class="text-wrap" mat-line>{{ c.descriptionSubject }}</div>
                </div>
                <div class="col-2 m-auto">
                    <button mat-raised-button  color="primary" class="me-2">Update</button>
                    <button mat-raised-button  color="warn">Delete</button>
                </div>
            </div>

        </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>

    <div class="container text-center my-3">
        <button routerLink="/admin/add-category" mat-raised-button color="primary">Add Category</button>
    </div>
</mat-card>