<mat-card class="shadow rounded-3 py-3">
    <h1 class="fw-bold fs-1 text-center mb-5">ADD NEW SUBJECT</h1>
    <mat-card-content>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form action="" [formGroup]="subjectForm">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input autofocus required formControlName="nameSubject"
                            type="text" matInput
                            placeholder="Enter category name">
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea formControlName="descriptionSubject" matInput required>
                            </textarea>
                        </mat-form-field>

                        <div class="d-flex m-auto text-center w-100">
                            <button (click)="onSubmit()" mat-raised-button color="primary" class="w-50 mx-1">ADD
                                SUBJECT</button>
                            <button mat-raised-button (click)="goBack()" color="warn" class="w-50 mx-1">
                                CANCEL</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>